.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 260px;
}

.loading {
    color: #aaa;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.images {
    flex-direction: row;
    display: flex;
    margin-top: 20px;
    gap: 10px;
}
@media (max-width: 768px) {
    .images {
        flex-direction: column;
        padding-bottom: 40px;
    }
}

.images img {
    width: 256px;
}

input {
    border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #f5f5f5;
  cursor: pointer;
  transition: border-color 0.25s;
}

.error {
    text-align: center;
    color: #990000;
}

.hello {
    text-align: center;
    font-size: 30px;
    font-weight: 200;
}

.firstName {
    font-weight: 300;
}